{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

{% block header %} Welcome {% endblock %}

{% block content %}
    <div class="row">
        <article class="col-12">
            <p> Welcome to the web page. Feel free to discuss your opinions and areas of interest on the
                discussion board. For example, you can discuss your favorite shows, movies, videos,
                and sports teams. The discussion board is open to any topics.
            </p>
            <p>
            You would need to register with an account and login to your account in order to submit
                posts.
            </p>
        </article>
    </div>
{% endblock %}